<div class="bg1">
  <div class="container ">
    <div id="hero" class="row align-items-center">
      <div class=" col-md-12 d-flex justify-content-center">
        <div class="text-center">
          <img class="rounded-circle " src="../../../assets/avat.png" alt="" height="200px">
          <h1 class="text-white py-4">{{namevalue}}</h1>

          <button class="btn btn-outline-success" (click)="changename()">Click me</button>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg2">
  <h1 class="text-white text-center pt-3" >PERSONAL DETAILS</h1>

  <div class="container text-white">
    <div class="row py-5">
      <div class="col-md-6">
        <dl class="row">

          <dt class="col-sm-3">Name:</dt>
          <dd class="col-sm-9">S.CHRISTOFOR JOHN <p>Software Engineer, Web Developer, Graphic Designer</p>
          </dd>

          <dt class="col-sm-3">Gender</dt>
          <dd class="col-sm-9">Male</dd>

          <dt class="col-sm-3">DOB:</dt>
          <dd class="col-sm-9">30-01-2004</dd>

          <dt class="col-sm-3">Blood Group:</dt>
          <dd class="col-sm-9">O+</dd>

          <dt class="col-sm-3">Mobile No:</dt>
          <dd class="col-sm-9">9025498683</dd>

          <dt class="col-sm-3">Mail Id:</dt>
          <dd class="col-sm-9">christoforjohn7@gmail.com</dd>

          <dt class="col-sm-3">Language:</dt>
          <dd class="col-sm-9">English, Tamil</dd>
        </dl>
      </div>
    



    <div class="col-md-6 text-white">
      <dl>
        <dt class="col-sm-3">Technical Skill :</dt>
        <dd class="col-sm-9">
          <ul>
            <li>Typwriting English Junior.</li>
            <li>Operating Systems: Microsoft Windows ( 7,10 ).</li>
            <li>Web Development ( HTML & CSS).</li>
            <li>Language : Python , C++ , SQL. </li>
          </ul>
        </dd>

        <dt class="col-sm-3">PERSONAL SKILLS :</dt>
        <dd class="col-sm-9">
          <ul>
            <li>GOOD - Communication Skill.</li>
            <li>Hard Worker.</li>
            <li>Problem Solving Skills.</li>
            <li>Creativity.</li>
            <li>Critical Thinking Skills.</li>
            <li>Passion of Towards Work</li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
  </div>
</section>

